@import "tailwindcss";

@font-face {
  font-family: "SF-Pro";
  src: url("/fonts/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-thin";
  src: url("/fonts/SF-Pro-Display-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF-Pro-bold";
  src: url("/fonts/SF-Pro-Display-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sf-pro: 'SF-Pro', sans-serif;
  --font-sf-pro-thin: 'SF-Pro-thin', sans-serif;
  --font-sf-pro-bold: 'SF-Pro-bold', sans-serif;
  --font-instrument-serif: 'Instrument Serif', serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sf-pro), system-ui, sans-serif;
}
